div{
		
		padding-top: 40px;
		padding-right: 20px;
		padding-bottom: 70px;
		padding-left:100px;
		background: pink;
		border: 10px solid purple;
	}
	
	

	p{
		text-align: center;
		background: #FFFFFF;
		border: 2px dashed #1BB713;
		padding: 19px 10px;
	}
